
 

* {
    margin:0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* navigation section  */

.header {
    width: 100%;
    background: rgba(255, 144, 14, 0.1);
}

.header-container {
    max-width:1440px;
    margin:0 auto;
    padding: 45px;
}



