* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

main {
    padding: 85px 50px 220px 50px;
    max-width: 1440px;
    margin: 0 auto;
}

.primary-color {
    background-color: #FF900E;
}
/*  All button */
.primary-btn {
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}
.primary-btn:hover {
    background-color: #c67439;
    padding:17px 27px;
    opacity: 0.9;
}
.btn-exp {
    margin-top: -70px;
    padding: 45px 50px;
    font-size: 65px;
    font-weight: 700;
    text-align: center;
}
.btn-exp:hover {
    background-color: #c67439;
    opacity: 0.8;
    cursor: pointer;
}

/* Header section  */

.header {
    background: rgba(255, 144, 14, 0.1);
}

.header-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 50px;
}

img {
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-title,.sponspor-title {
    font-size: 45px;
    font-weight: 700;
}

.navbar-item {
    display: flex;
    gap: 60px;
    list-style: none;
    padding: 0px;
}

.navbar-item li {
    font-size: 18px;
    font-weight: 400;
}

.navbar-item li a {
    text-decoration: none;
    color: black;
}

.header-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-title-description {
    max-width: 860px;
    text-align: center;
}

.header-title {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #131313;
    margin-top: 100px;
    margin-bottom: 25px;
}

.header-description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 30px;

}
.banner-img {
    margin-top: 50px;
}
/* Header section End */

/* ---------------
service section start
------------------ */
.service-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 72px;
    justify-content: center;
    align-items: center;
    margin-bottom: 135px;
}

span {
    color: #FF900E;
    font-weight: 700;
    font-size: 45px;
}

.service-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-right: 10px;
}

.service-title,
.some-fact-heading {
    font-size: 45px;
    margin-bottom: 24px;
    font-weight: 700;
}

.service-description {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    color: #727272
}
/* Service section End */

/* -------------
Experience and feature section
---------------- */
.expre {
    display: flex;
    justify-content: center;
    gap: 54px;
    margin-bottom: 140px;
}

.expre-heading-title {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 25px;
    margin-left: 1px;
    border-left: 2px solid #FF900E;
}

.expre-heading-description {
    font-size: 16px;
    font-weight: 400px;
    margin-bottom: 45px;
    color: #727272
}

.expre-intro {
    margin-bottom: 50px;
    color: #727272;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    padding:10px;
    height: 90px;
}

.expre-title {
    font-weight: 600;
    font-size: 20px;
     margin-bottom: 10px;
}
.exp {
    color: white;
    font-size: 20px;
}
/* experience and feature section End */

/* -------------------
Award and history data
--------------------- */
.some-fact-des {
    font-size: 16px;
    font-weight: 400;
    color: #727272
}

.history-date {
    margin-top: 100px;
    margin-bottom: 170px;
    display: flex;
    gap: 120px;
    justify-content: center;
}

.history {
    border: 1px solid #FF900E;
    text-align: center;
    padding: 50px;
}
.history:hover {
    background-color: #c67439;
    color:white;
    transform: scale(1.2);
 
}
.history:hover img {
    transform: rotate(360deg);
}
.history img {
    transition: transform 0.5s;
}

.history-title {
    font-weight: 600px;
    font-size: 45px;
}

.history-title>h6 {
    font-size: 22px;
    font-weight: 600;
    color:#727272;
}

.history img {
    width: auto;
    height: auto;
}
/* award and history section done */
/* ----------
sponspros section start
-------------- */

.sponspors-img{
    width: auto;
    height: auto;
}
.sponspors {
    text-align: center;
}
.sponspor-des {
    font-size: 16px;
    color:#727272;
    margin-top: 44px;
}
.all-sponspor-img {
    display: flex;
    gap:54px;
    margin-top: 44px;
    filter: brightness(0) ;
    justify-content: center;
    align-items: center;
}

/* project showcase */
.my-project {
    margin-top: 60px;
}
.my-project-title{
    text-align: center;
    margin-bottom: 50px;
    text-decoration-line:underline ; 
    text-decoration-line:underline ;
    text-decoration-style: wavy ;
    text-decoration-color: violet;
}

.project-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    gap: 30px;
}
.project{
    border: 0px;
    border-radius: 20px;
    box-shadow: 0px 6px 30px rgba(0,0,0,0.5);
    width: 300px;
    margin-bottom: 50px;
    padding: 10px;
}
.project-title{
    font-weight: 700;
    text-align: center;
    margin-bottom: 2px;
}
.project-description{
    text-align: center;
    font-size: 17px;
    padding:2px;
    margin-bottom: 8px;
}
.link-btn a {
    text-decoration: none;
}
.link-btn{
    border: none;
    margin-left: 30%;
    margin-bottom: 10px;
    padding:10px 15px;
    font-size: 15px;
    font-weight: 550;
    background-color:rgba(153, 205, 50, 0.37);
    border-radius: 10px;
}
.link-btn:hover{
    background-color:#FD6E0A;

}
/* footer section */
footer {
    margin: 0 auto;
    background: rgba(255, 144, 14, 0.1);
    height: 100px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
    max-width: 1140px;
}
.footer-des {
    font-weight: 400;
    font-size: 20px;
}

/* media query */
/* .hide {
display: none;
} */
/* header section responsive */
@media  screen and (max-width:576px) {
    
    .header-container {
        padding: 20px 15px;
        flex-direction: column;
        justify-content:center;
    }
    .navbar {
        display: flex;
        flex-direction: column;
        gap:10px;
    }
    .navbar-item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:5px;
    }
    .navbar-title {
        font-size: 36px;
    }
.header-title{
    font-size: 50px;
}
.header-description {
    font-size: 16px;
}
}
    /*header section responsive end  */

/* service section start  */
  @media  screen and (max-width:576px) {
    .service-section {
       display: grid;
       grid-template-columns: repeat(1,1fr);
    }
    .service-img {
     display: grid;
     grid-template-columns: repeat(1,1fr);
    }
  }  
  /* service section end */

  /* Experience section start */
  @media  screen and (max-width:576px) {
    .expre {
        flex-direction: column-reverse;
    }
    .expre-intro {
        height: 100%;
    }
    .btn-exp{
        font-size: 50px;
        line-height: 0.5em;
    }
    /* some facts and history section */
    .history-date {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap:15px;
        justify-content: center;
        align-items: center;
    }
    /* sponspors sections */
    .sponspors {
        flex-direction: column;
        margin-bottom: 10px;
    }
    .all-sponspor-img {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        align-items: center;
    }
    /* project showcase */
    .project-container {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    /* footer section */
    .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main {
    padding:85px 50px 60px;
}

}
/* for medium device  */
@media  screen and (min-width:577px) and (max-width:992px) {
    .history-date{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .all-sponspor-img {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
    }
    .project-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        align-items: center;
    }
}